fastapi
uvicorn[standard]
python-multipart

sqlalchemy[asyncio]
asyncpg
alembic

python-jose[cryptography]
passlib[bcrypt]
bcrypt

pydantic
pydantic-settings
email-validator

pytest
pytest-asyncio
httpx
pytest-cov

python-dotenv